In [2]:
import pandas as pd
pd.DataFrame({'Gluuu':['Buddhu','Iloveyou'], 'Baba':['Iloveyou','pagluuu']})

      Gluuu      Baba
0    Buddhu  Iloveyou
1  Iloveyou   pagluuu

In [5]:
pd.DataFrame({'Gluuu':['Buddhu','Iloveyou'], 'Baba':['Iloveyou','pagluuu']}, index=['Quote A','Qoute B'])

            Gluuu      Baba
Quote A    Buddhu  Iloveyou
Qoute B  Iloveyou   pagluuu

In [7]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
pd.Series([30,35,40],index=['2020 used','2021 used','2022 used'], name='Qoute A')

2020 used    30
2021 used    35
2022 used    40
Name: Qoute A, dtype: int64

In [ ]:
wine_data= 'wineReviews.csv'
wine_reviews= pd.read_csv(wine_data,index_col=0)
wine_reviews.head